  <%= render partial: "rubberducks/city_navigation" %>

  <% if params[:query].present? && params[:search_type] == "search_bar" %>
    <h5 id="results"><strong><i>Finding results for "<%= params[:query] %>"...</i></strong><h5>
  <% end %>

  <% top_rated_rubberducks = @rubberducks.select { |rubberduck| rubberduck.rating.to_f >= 4.5 } %>

  <% if top_rated_rubberducks.any? %>
    <% if params[:query].present? %>
      <h2><strong>Top rated rubberducks</strong></h2>
    <% else %>
      <h2><strong>Top rated rubberducks</strong></h2>
    <% end %>

    <div class="duck-container">
      <ul class="duck-list" style="display: grid; grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); gap: 20px;">
        <% top_rated_rubberducks.each do |rubberduck| %>
          <li>
            <% if params[:user_id] %>
              <%= render "shared/rubber_duck_card", rubberduck: rubberduck %>
            <% else %>
              <%= render "shared/rubber_duck_card", rubberduck: rubberduck %>
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="boundary"></div>

  <% if @rubberducks.any? %>
    <h2><strong>All available rubberducks</strong></h2>
    <div class="duck-container">
      <ul class="duck-list" style="display: grid; grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); gap: 20px;">
        <% @rubberducks.select { |rubberduck| rubberduck.rating.to_f < 4.5 }.each do |rubberduck| %>
          <li>
            <% if params[:user_id] %>
              <%= render "shared/rubber_duck_card", rubberduck: rubberduck %>
            <% else %>
              <%= render "shared/rubber_duck_card", rubberduck: rubberduck %>
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
  <% else %>
    <p>No rubberducks available.</p>
  <% end %>
