<% if params[:user_id] %>
  <h1>Your Rubberducks</h1>
<% else %>
  <h1>Rubberducks</h1>
<% end %>

<% if @rubberducks.any? %>
  <div class="duck-container">
    <div class="duck-list rubberducks-grid">
      <% @rubberducks.each do |rubberduck| %>
        <div class="rubberduck-card">
          <% if params[:user_id] %>
            <%= render "shared/rubber_duck_card", rubberduck: rubberduck %>
            <%= link_to rubberduck.name, user_rubberduck_path(params[:user_id], rubberduck) %>
          <% else %>
            <%= render "shared/rubber_duck_card", rubberduck: rubberduck %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
<% else %>
  <p>No rubberducks available.</p>
<% end %>

<% if params[:user_id] %>
  <%= link_to "Add a rubber duck", new_user_rubberduck_path, class: "btn btn-primary" %>
  <%= link_to "Go back to see all rubberducks", rubberducks_path, class: "btn btn-primary" %>
<% end %>
