<h1><%= @rubberduck.name %> Details</h1>

<div class="rubber-duck-details">
  <%= image_tag "rubber_index.webp", class: "duck-image" %>
  <h2>Outfit: <%= @rubberduck.outfit %></h2>
  <p>City: <%= @rubberduck.city %></p>
  <p>Price: $<%= @rubberduck.price %></p>
  <p>Rating: *****</p>
  <div data-controller="hello_controller">Stimulus Test</div>
</div>


<%= link_to "Back to All Rubberducks", rubberducks_path, class: "btn btn-secondary" %>

<%= simple_form_for([@rubberduck, @booking]) do |f| %>
  <% if @booking.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@booking.errors.count, "error") %> prohibited this booking from being saved:</h2>
      <ul>
        <% @booking.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-inputs">
    <%= f.input :start_date, as: :string, input_html: { data: { controller: "datepicker" } } %>
  </div>

  <div class="field">
    <%= f.input :end_date, as: :string, input_html:  { data: { controller: "datepicker" } }  %>
  </div>

  <div class="actions">
    <%= f.button :submit, "Book Now", class: "btn btn-primary" %>
  </div>
<% end %>
