<h1><%= @rubberduck.name %> Details</h1>

<div class="rubber-duck-details">
  <%= image_tag "rubber_index.webp", class: "duck-image" %>
  <h2>Outfit: <%= @rubberduck.outfit %></h2>
  <p>City: <%= @rubberduck.city %></p>
  <p>Price: $<%= @rubberduck.price %></p>
  <p>Rating: *****</p>
</div>

<%= link_to "Back to All Rubberducks", rubberducks_path, class: "btn btn-secondary" %>
