<div class="container show-page">
  <!-- Image Section -->
  <div class="main-image">
    <%= image_tag "rubberducks/#{@rubberduck.image_url}", alt: @rubberduck.name, class: "img-fluid" %>
  </div>

  <!-- Duck Details Section -->
  <div class="row details-section mt-4">
    <div class="col-md-8">
      <!-- Duck Name and Rating -->
      <div class="duck-header d-flex justify-content-between align-items-center">
        <h1 class="duck-name"><%= @rubberduck.name %></h1>
        <div class="duck-rating">
          <%= render partial: "shared/rating_stars", locals: { rating: @rubberduck.rating } %>
        </div>
      </div>

      <!-- Location -->
      <p class="duck-location">
        <i class="fas fa-map-marker-alt"></i> <%= @rubberduck.city %>
      </p>

      <!-- Description -->
      <div class="duck-description">
        <h4>Description</h4>
        <p>some description</p>
      </div>

      <!-- Reviews -->
      <div class="reviews mt-5">
        <h4>Reviews</h4>
      </div>
    </div>

    <!-- Booking Sidebar -->
    <div class="col-md-4 booking-section sticky-top">
      <div class="booking-card">
        <h3>€<%= @rubberduck.price %> per bath</h3>
      </div>
    </div>
  </div>
</div>

<%= link_to "Back to All Rubberducks", rubberducks_path, class: "btn btn-secondary" %>
<% if current_user %>
  <%= simple_form_for([@rubberduck, @booking]) do |f| %>
    <% if @booking.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@booking.errors.count, "error") %> prohibited this booking from being saved:</h2>
        <ul>
          <% @booking.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="form-inputs">
      <%= f.input :start_date, as: :string, input_html: { data: { controller: "datepicker" } } %>
    </div>

    <div class="field">
      <%= f.input :end_date, as: :string, input_html:  { data: { controller: "datepicker" } } %>
    </div>

    <div class="actions">
      <%= f.button :submit, "Book Now", class: "btn btn-primary" %>
    </div>
  <% end %>
<% end %>
<div>
  <p>Owner: <%= link_to "#{@user.name}", user_path(@user) %> </p>
  <% if current_user == @user %>
    <%= link_to "Edit this rubberduck", edit_user_rubberduck_path(@user) %>
    <%= button_to 'Delete this rubberduck', user_rubberduck_path(@user), method: :delete, data: {turbo_confirm: 'Are you sure?'}, class: "btn btn-danger" %>
  <% end %>
</div>

<% if !user_signed_in? %>
  <%= link_to 'Book this rubberduck now', new_user_session_path %>
<% end %>

<% if user_signed_in? %>
  <%= link_to "Go to your profile", user_path(current_user) %>
<% end %>
<%= link_to "Back to the Home Page", rubberducks_path, class: "btn btn-secondary" %>
