<% if user_signed_in? %>
  <% if current_user == @user %>
    <h1>Your Profile</h1>
  <% else %>
    <h1><%= @user.name %>'s Profile</p>
  <% end %>

  <%= render partial: "users/user_details" %>

  <div class="boundary"></div>

  <% if @user.rubberducks.any? %>
    <% if current_user == @user %>
      <h2 class="title"><strong>Your listed rubberducks</strong></h2>
    <% else %>
      <h2 class="title"><strong><%= @user.name %>'s listed rubberducks</strong></h2>
    <% end %>
  <% end %>
<% else %>
  <h1 class="title">Welcome to <%= @user.name %>'s Profile</h1>
  <% if @user.rubberducks.any? %>
    <h2 class="title"><strong><%= @user.name %>'s listed rubberducks</strong></h2>
  <% end %>
<% end %>

<% if @user.rubberducks.any? %>
  <div class="duck-container">
    <ul class="duck-list" style="display: grid; grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); gap: 20px;">
      <% @user.rubberducks.each do |rubberduck| %>
        <li>
          <% if user_signed_in? %>
            <%= render "shared/rubber_duck_card", rubberduck: rubberduck %>
          <% else %>
            <%= render "shared/rubber_duck_card", rubberduck: rubberduck %>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
<% else %>
  <p>No rubberducks available.</p>
<% end %>
