<a href="<%= rubberduck_path(rubberduck) %>" class="rubberduck-card">
  <% if rubberduck.image_url %>
    <%= image_tag "rubberducks/#{rubberduck.image_url}", class: "duck-image" %>
  <% else %>
    <%= image_tag "rubberducks/mermaid_puddle", class: "duck-image" %>
  <% end %>

  <div class="card-info">
    <div class="duck-header">
      <h3 class="duck-name">
        <span class="duck-name-text"><%= rubberduck.name %></span>
        <div class="duck-rating">
          <%= render partial: "shared/rating_stars", locals: { rating: rubberduck.rating } %>
        </div>
        <span class="duck-outfit-text">
          <i class="fas fa-tshirt"></i> <!-- Outfit icon -->
          <%= rubberduck.outfit %>
        </span>
      </h3>


    </div>

    <p class="duck-city">
      <i class="fas fa-map-marker-alt"></i> <!-- Location icon -->
      <%= rubberduck.city %>
    </p>

    <p class="duck-price">
      <i class="fas fa-bath"></i> <!-- Bathtub icon -->
      €<%= rubberduck.price %> per Bath
    </p>
  </div>
</a>
