
<h1>Pages#home</h1>
<div>
<p>Find me in app/views/pages/home.html.erb</p>
  <%= link_to "Small Button", root_path, class: "button small color:" %>
  <%= link_to "Default Button", root_path, class: "button" %>
  <%= link_to "Large Button", root_path, class: "button large" %>
  <%= link_to "Primary Button", root_path, class: "button primary" %>
  <%= link_to "Danger Button", root_path, class: "button danger" %>
</div>
