<h1>Bookings Overview</h1>
<h2>Username: <%= current_user.name %></h2>
<br>
<% if @bookings.any? %>  <!-- Check if there are any bookings -->
  <h3><strong>Your bookings</strong></h3>
  <div class="boundary"></div>
  <div class="container">
  <div class="row d-flex">
  <% @bookings.each do |booking| %>
    <div class="col-auto stats">
    <div class="detail book">
    <!-- Calculating the length of the booking -->
    <% total_nights = (booking.end_date - booking.start_date).to_i %>
    <!-- Calculate the total price -->
    <% total_price = total_nights * booking.rubberduck.price %>

    <p><strong>Rubberduck name</strong>: <%= link_to "#{booking.rubberduck.name}", rubberduck_path(booking.rubberduck), style: "text-decoration: none" %></p>
    <p><strong>Start Date</strong>: <%= booking.start_date %></p>
    <p><strong>End Date</strong>: <%= booking.end_date %></p>
    <p><strong>Booked for</strong>: <%= total_nights %> nights</p>
    <p><strong>Total price</strong>: $<%= total_price %></p>

    <!-- Action buttons for Delete and Edit -->
    <%= link_to "Delete", booking_path(booking), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: "btn btn-danger" %>
    <%= link_to "Edit Booking", edit_booking_path(booking), class: "btn btn-warning" %>
    <br><br>
    </div>
    </div>
  <% end %>
  </div>
  </div>
<% else %>
  <h3>You currently have no active bookings</h3>
<% end %>
